<!--
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 bg-testimonial text-white text-center my-4 py-4">
      "I decided to join RTO/ERO because of the group insurance plans available. The options available now and in the
      future are very reasonable and will provide my husband and me the coverage we need. The travel perks and
      connections to peers are a definite bonus. " &mdash; Elizabeth
    </div>
  </div>
</div>
-->

<footer>

  <div class="container py-4">

    <!--
            <div class="col text-center">
             <h2>Contact</h2>
             <p>Need help? Speak to our helpful, knowledgable staff Monday to Friday, 8:30 a.m. to 4:30 p.m.</p>
          </div>
      -->
    <div class="row align-items-top text-center text-md-left">

      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <h3>Site map</h3>
        <ul>
          <li>About</li>
          <li>Giving Back</li>
          <li>Services</li>
          <li>Insurance</li>
          <li>Events</li>
          <li>Resources</li>
          <li>Membership</li>
        </ul>
      </div>


      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <h3>Contact</h3>
        <p>
          18 Spadina Road<br>
          Toronto, Ontario M5R 2S7<br>
          <strong>Phone:</strong> 416-962-9463<br>
          <strong>Toll Free:</strong> 1-800-361-9888<br>
          <strong>Fax:</strong> 416-962-1061<br>
          <strong>Email:</strong> info@rtoero.ca
        </p>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <h3>Follow us</h3>
        <div class="social-media-footer">
          <p class="text-h2">
            <a href="https://www.facebook.com/rto.ero/" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-facebook-f"></i></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/rto_ero" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/company/rto-ero/?originalSubdomain=ca" target="_blank"
              rel="noreferrer noopener"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.youtube.com/channel/UC47hMHrlTrEyXgr2PGoqwSw" target="_blank"
              rel="noreferrer noopener"><i class="fab fa-youtube"></i></a>
          </p>
        </div>
        <p><strong><a href="#">Privacy Policy</a></strong></p>
        <p><strong><a href="#">Social Media Policy</a></strong></p>
        <p><strong><a href="#">Accessibility</a></strong></p>
        <p><strong><a href="#">FAQ</a></strong></p>
        <p><strong><a href="#">Code of Conduct</a></strong></p>
        <p><strong><a href="#">Site Map</a></strong></p>
      </div>

    </div><!-- ends row -->
  </div><!-- container ends -->


  <div class="sub-footer py-2">
    <div class="container">
      <div class="row align-items-top text-center text-md-left">
        <div class="pull-left">
          <p><small>Copyright &copy;2020 RTOERO</small></p>
          <?php echo date("Y"); ?>
        </div>
        <!--

      <div class="col-12 col-md-0 mt-4 mt-md-2 text-md-center">
        <p class="text-h2">
          <a href="https://www.facebook.com/rto.ero/"><i style="color: #fff;"
              class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/channel/UC47hMHrlTrEyXgr2PGoqwSw"><i style="color: #fff;"
              class="fa fa-youtube fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/rto_ero"><i style="color: #fff;"
              class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
        </p>
      </div>

      -->

        <!-- Return to Top      -->
        <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

      </div><!-- row -->



    </div><!-- container div -->
  </div>


</footer>


<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->