<section class="cyan-bg pt-4">

  <div class="container py-4">
    <div class="row align-items-top text-center text-md-center">

      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <!--
            <a href="http://www.rto-ero.org">
              <../assets/img/// class="float-left m-4" src="assets/../assets/../assets/imgrto-logo.png" height="75" alt="RTO Logo Footer image">
            </a>
            -->
        <h3>À propos d'ERO/RTO</h3>
        <p>Offrir des programmes et des services aux enseignants et enseignantes, aux administrateurs scolaires et de
          conseils scolaires, au personnel de soutien en éducation et au personnel enseignant à la retraite des collèges
          et universités.</p>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <h3>Équipe de l'assurance collective :</h3>
        <p><a class="gold-link" href="mailto:membership@rtoero.ca ">insurance@rtoero.ca </a></p>
        <p><a class="gold-link" href="tel:1-877-406-9007">1-877-406-9007</a></p>

        <h3>Équipe des services aux membres :</h3>
        <p><a class="gold-link" href="mailto:membership@rtoero.ca ">membership@rtoero.ca </a></p>
        <p><a class="gold-link" href="tel:1-800-361-9888">1-800-361-9888</a></p>

      </div>

      <div class="col-12 col-md-4 mt-4 mt-sm-0">
        <h3>ERO/RTO</h3>
        <p>
          <strong>Adress :</strong> 18 chemin Spadina, Toronto, ON M5R 2S7<br>
          <strong>Téléphone :</strong> 416-962-9463<br>
          <strong>Sans frais :</strong> 1-800-361-9888<br>
          <strong>Fax :</strong> 416-962-1061<br>
          <strong>Courriel :</strong> info@rtoero.ca
        </p>
      </div>

    </div><!-- ends row -->
  </div><!-- container ends -->

</section>

<footer class="bg-dark text-white">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-md-0 mt-4 mt-md-2 text-md-center">
        <p><small>&copy;2019 RTOERO</small></p>
      </div>
      <div class="col-12 col-md-0 mt-4 mt-md-2 text-md-center">
        <p class="text-h2">
          <a href="https://www.facebook.com/rto.ero/"><i style="color: #fff;"
              class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/channel/UC47hMHrlTrEyXgr2PGoqwSw"><i style="color: #fff;"
              class="fa fa-youtube fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/rto_ero"><i style="color: #fff;"
              class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
        </p>
      </div>
    </div>


    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  </div>
</footer>

<section class="fixed-footer mt-4">

  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">Pour en savoir plus, visitez <a class="warning"
          href="https://www.rto-ero.org/fr/assurance">la page Assurance RTO</a></h4>
    </div>
  </div>

</section>