<!--<nav class="navbar navbar-expand-lg navbar-light navbar-transparent transparent-dark navbar-single-page navbar-sticky">-->
<nav class="navbar navbar-expand-md navbar-dark navy-blue-bg" data-target=".navbar-collapse">
  <a class="navbar-brand" href="https://www.rto-ero.org/fr/">
    <../assets/img///
      src="https://www.rto-ero.org/sites/default/files/comparison-chart-../assets/../assets/imgrto-logo.png"
      height="130" alt="RTO Logo image">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsspy"
    aria-controls="navbarsspy" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsspy" data-toggle="collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" data-scroll
          href="https://rto-ero.org/rto-vs-rtip-comparison/">Anglais</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/a-propos-derorto">À propos d'ERO/RTO</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/adhesion">Adhésion</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/nos-regimes-dassurance">Nos régimes d'assurance</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/programmes-et-services">Programmes et Services</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/publications">Publications</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="https://www.rto-ero.org/fr/appuyer-la-fondation"
          target="_blank">Appuyer la foundation</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/fr/section-reservee-aux-membres">Section réservée aux
          membres</a></li>
    </ul>
  </div>
</nav>