<div class="super-navigation" id="super-navigation">
  <div class="container">
    <ul class="navbar navbar-expand-md mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/fr">FR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">aA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Change Contrast</a>
      </li>
      <li class="nav-item">
        <img src="assets/img/print-icon.png" alt="print web page icon">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tel:1-800-361-9838">1-800-361-9888</a>
      </li>
      <form class="form-inline mt-2 mt-md-0 ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="search" aria-label="Search">
        <button type="submit"><i id="filtersubmit" class="icon fa fa-search"></i></button>
      </form>
    </ul>
  </div><!-- container -->
</div><!-- end super top super navigation -->


<nav id="rto-nav"
  class="navbar navbar-expand-md navbar-light bg-light py-2 page-header smaller-nav start-style rounded">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="logo" src="https://www.rto-ero.org/sites/default/files/logo_copy.png"
        alt="RTOERO official logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <p class="navbar-text visible-xs-inline-block">MENU</p>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/about.html" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
            <div class="container">
              <div class="row ml-auto">
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#">RTO/ERO History</a>
                  <a class="dropdown-item" href="#">Strategic Plan</a>
                  <a class="dropdown-item" href="#">Annual Reports</a>
                  <a class="dropdown-item" href="#">FAQs</a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#">Our Team</a>
                  <a class="dropdown-item" href="#">Board of Directors</a>
                  <a class="dropdown-item" href="#">Our Partners</a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#">RTO/ERO Districts</a>
                  <a class="dropdown-item" href="#">The RTO/ERO Foundation</a>
                </div>
              </div><!-- row -->
              <div class="row ml-auto nav-bottom-border">
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#"><u><strong>Media Centre</strong></u></a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#"><u><strong>Contact RTO</strong></u></a>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </li>
        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/foundation-home.html" id="dropdown02" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Giving Back</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
            <div class="container">
              <div class="row ml-auto">
                <div class="col-sm-6 col-lg-3">
                  <h5 class="nav-title-border">The RTO/ERO Foundation</h5>
                  <div class="row">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="#">The Cause</a>
                      <a class="dropdown-item" href="#">Grants</a>
                      <a class="dropdown-item" href="#">Get Involved</a>
                    </div>
                    <div class="col-md-6">
                      <a class="dropdown-item" href="#">Blog</a>
                      <a class="dropdown-item" href="#">About</a>
                      <a class="dropdown-item" href="#">Contact</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <h5 class="nav-title-border">Advocacy</h5>
                  <a class="dropdown-item" href="#">Vibrant Voices</a>
                  <a class="dropdown-item" href="#">Key Issues</a>
                  <a class="dropdown-item" href="#">Advocacy Resources</a>
                  <a class="dropdown-item" href="#">Past Campaigns</a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <h5 class="nav-title-border">Other</h5>
                  <a class="dropdown-item" href="#">Grants</a>
                  <a class="dropdown-item" href="#">Scholarships</a>
                  <a class="dropdown-item" href="#">Goodwill Member Services</a>
                </div>
              </div><!-- row -->
              <div class="row ml-auto nav-bottom-border">
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#"><u><strong>Donate</strong></u></a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#"><u><strong>Get Involved</strong></u></a>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </li>

        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/services" id="dropdown03" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
            <div class="container">
              <div class="row ml-auto">

                <div class="col-sm-6 col-lg-4">
                  <a class="dropdown-item" href="#">Insurance</a>
                  <a class="dropdown-item" href="#">Venngo MemberPerks®</a>
                  <a class="dropdown-item" href="#">Travel Services with Merit Travels</a>
                  <a class="dropdown-item" href="#">Grants</a>
                  <a class="dropdown-item" href="#">Scholarships</a>
                  <a class="dropdown-item" href="#">Goodwill Member Services</a>
                </div>


                <div class="col-sm-6 col-lg-4">
                  <h5 class="nav-title">Classifieds</h5>
                  <div class="row">
                    <!--
                                        <div class="col-md-12">
                      <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search classifieds"
                          aria-label="Search">
                        <i id="filtersubmit" class="icon fa fa-search"></i>
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                   -->
                    <div class="col-md-6 mt-2">
                      <a class="dropdown-item" href="#">For Rent</a>
                      <a class="dropdown-item" href="#">For Sale</a>
                      <a class="dropdown-item" href="#">Reunions</a>
                    </div>
                    <div class="col-md-6 mt-2">
                      <a class="dropdown-item" href="#">Services &amp; Opportunities</a>
                      <a class="dropdown-item" href="#">Travel</a>
                      <a class="dropdown-item" href="#">All</a>
                    </div>
                  </div>
                </div>
              </div><!-- row -->
              <div class="row ml-auto nav-bottom-border">
                <div class="col-sm-6 col-md-4">
                  <a class="dropdown-item" href="#"><u><strong>Buy RTO/ERO Merchandise</strong></u></a>
                </div>
                <div class="col-sm-6 col-md-4">
                  <a class="dropdown-item" href="#"><u><strong>Post an Ad</strong></u></a>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </li>
        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/insurance" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Insurance</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
            <div class="container">
              <div class="row ml-auto">

                <div class="col-md-8">
                  <h5 class="nav-title-border">Available Plans</h5>
                  <div class="row">

                    <div class="col-sm-6 col-lg-6">
                      <a class="dropdown-item" href="#">Extended Health Care + Travel</a>
                      <a class="dropdown-item" href="#">Dental Plan</a>
                      <a class="dropdown-item" href="#">Semi-Private Hospital Plan</a>
                      <a class="dropdown-item" href="#">Car and Home Insurance</a>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                      <a class="dropdown-item" href="#">Guaranteed Life Insurance</a>
                      <a class="dropdown-item" href="#">Term Life Insurance</a>
                      <a class="dropdown-item" href="#">Accidental Death &amp; Dismembersment</a>
                      <a class="dropdown-item" href="#">Hospital Money</a>
                    </div>


                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <h5 class="nav-title-border">More Information</h5>
                  <a class="dropdown-item" href="#">Late Applicants</a>
                  <a class="dropdown-item" href="#">FAQs</a>
                  <a class="dropdown-item" href="#">Existing Member Log In</a>
                  <a class="dropdown-item" href="#">Claims</a>
                  <a class="dropdown-item" href="#">Suggest a Plan Change</a>
                </div>
              </div><!-- row -->
              <div class="row ml-auto nav-bottom-border">

                <div class="col-md-8">
                  <h5 class="nav-title-secondary">Need assistance?</h5>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="#"><u><strong>Apply Online</strong></u></a>
                </div>

                <div class="col-sm-6 col-lg-5">
                  <div class="row">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="tel:1-800-361-9888"><u><strong><img
                              src="assets/img/phone-chat-icon.png" alt="Phone Chat icon">
                            1-800-361-9888</strong></u></a>
                      <a class="dropdown-item" href="#"><u><strong><img src="assets/img/chat-icon.png" alt="Chat icon">
                            Click to
                            Chat</strong></u></a>
                    </div>
                    <div class="col-md-6">

                      <a class="dropdown-item" href="mailto:insurance@rtoero.ca"><u><strong><img
                              src="assets/img/email-icon.png" alt=Email icon">
                            insurance@rtoero.ca</strong></u></a>
                      <a class="dropdown-item" href="tel:1-800-361-9888"><u><strong><img src="assets/img/phone-icon.png"
                              alt="Phone icon">
                            Schedule a phone consultation</strong></u></a>
                    </div>

                  </div>
                </div>

              </div><!-- row -->
            </div>
          </div>
        </li>
        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/events" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Events</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown05">
            <div class="container">
              <div class="row ml-auto">

                <div class="col-sm-12 col-lg-5 upcoming-events-nav-block">
                  <h5 class="nav-title-border">Upcoming Events</h5>

                  <h3 class="upcoming-events-nav-block__post-title">Bridging the Gap: tech support for seniors</h3>
                  <h4 class="upcoming-events-nav-block__post-meta-title">January 15 &ndash; 18, 2020</h4>

                  <h3 class="upcoming-events-nav-block__post-title">Bridging the Gap: tech support for seniors</h3>
                  <h4 class="upcoming-events-nav-block__post-meta-title">February 20, 2020</h4>

                  <h3 class="upcoming-events-nav-block__post-title">Bridging the Gap: tech support for seniors</h3>
                  <h4 class="upcoming-events-nav-block__post-meta-title">March 3 &ndash; 6, 2020</h4>

                  <p class="mt-4"><a class="dropdown-item" href="#"><u><strong>View all Events</strong></u></a></p>


                </div>


                <div class="col-sm-6 col-lg-6 mr-auto">
                  <h5 class="nav-title">Retirement Planning Workshops</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <a class="dropdown-item" href="#"><u><strong>Bring us to host an RPW in your area</strong></u></a>
                      <a class="dropdown-item" href="#"><u><strong>Search for workshops in your area</strong></u></a>


                      <!--
                      <p class="rpw-subline">Search for a workshop near you</p>
                      <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search by Postal Code"
                          aria-label="Search">
                        <i id="filtersubmit" class="icon fa fa-search"></i>
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                      </form>
                      -->

                    </div>

                  </div>
                </div>
              </div><!-- row -->

              <!--

              <div class="row ml-auto nav-bottom-border">
                <div class="col-sm-6 col-md-4">
                  <a class="dropdown-item" href="#"><u><strong>Bring us to host an RPW in your area</strong></u></a>
                </div>
              </div>
            -->

            </div>
          </div>
        </li>
        <li class="nav-item dropdown megamenu-li">
          <a class="nav-link dropdown-toggle" href="/resources" id="dropdown06" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu megamenu" aria-labelledby="dropdown06">
            <div class="container">
              <div class="row ml-auto">
                <div class="col-sm-6 col-lg-3">
                  <h5 class="nav-title-border">I am...</h5>
                  <a class="dropdown-item" href="#">Ready to retire</a>
                  <a class="dropdown-item" href="#">Thinking about retirement</a>
                  <a class="dropdown-item" href="#">Retired</a>
                  <a class="dropdown-item" href="#">Actively employed</a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <h5 class="nav-title-border">Renaissance</h5>
                  <a class="dropdown-item" href="#">Current issue</a>
                  <a class="dropdown-item" href="#">How to subscribe?</a>

                  <h5 class="nav-title-border mt-4">Liaison</h5>
                  <a class="dropdown-item" href="#">Current issue</a>
                  <a class="dropdown-item" href="#">How to subscribe?</a>

                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item  pb-2" href="#"><img src="assets/img/rss-icon.png" alt="RSS page icon">
                    RTO/ERO Blog</a>
                  <a class="dropdown-item py-2" href="#"><img src="assets/img/rss-icon.png" alt="RSS page icon"> News
                    and Updates</a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="dropdown-item" href="#"><img src="assets/img/video-icon.png" alt="video web page icon">
                    Videos</a>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </li>
        <a class="nav-link" href="/join"></a><button class="btn-navigation" type="button">Join</button></a>
      </ul>
    </div>
  </div>
</nav>